.clearfix {
    *zoom: 1;
}

.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.hide-text {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.input-block-level {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bwin-open{
}

.bwin-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: #fff;
}

.bwin-backdrop.fade {
    opacity: 0;
}

.bwin-backdrop, .bwin-backdrop.fade.in {
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

.bwin {
    position: fixed;
    z-index: 1000;
    overflow: auto;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}

.bwin.fade {
    -webkit-transition: opacity .3s linear, top .3s ease-out;
    -moz-transition: opacity .3s linear, top .3s ease-out;
    -o-transition: opacity .3s linear, top .3s ease-out;
    transition: opacity .3s linear, top .3s ease-out;
    top: -25%;
}

.bwin.fade.in {
    top: 50%;
}

.bwin-header {
    padding: 1px -15px;
    border-bottom: 1px solid #eee;
    width: 100%;
    background-color: #E9E6D6;
}

.bwin-header .elements{
    color: #0e0e0e;
}

.bwin-header .elements:hover{
    color: red;
}

.bwin-header h3, .bwin-header .elements {
    font-size: 14px;
    font-weight: bolder;
    text-align: left;
    line-height: 30px;
    margin: 0;
    padding: 0 10px;
    font-family: Tahoma, Arial, sans-serif;
    background-color: #E9E6D6;
    display: inline;
    float: left;
}
.bwin-header .elements{
    float: right;
}

.bwin-body {
    overflow-y: auto;
    min-width: 250px;
    padding: 5px;
}

.bwin-form {
    margin-bottom: 0;
}

.bwin-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    *zoom: 1;
}

.bwin-footer:before, .bwin-footer:after {
    display: table;
    content: "";
    line-height: 0;
}

.bwin-footer:after {
    clear: both;
}

.bwin-footer .btn+.btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.bwin-footer .btn-group .btn+.btn {
    margin-left: -1px;
}


.stripped:nth-child(even){
    background-color: #FBFAF3;
}